<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sample.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Luckiest Guy:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kavoon:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karma:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo Thambi:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lilita One:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chivo:wght@400&display=swap" />
</head>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="total-coin">
                <div class="outer">
                    <div class="inner">
                        <img src="coin.png" alt="">
                        <div class="coins">100</div>
                    </div>
                </div>
            </div>
            <div class="close-btn">&times;</div>
        </div>
        <div class="para">
            <div class="days">
                <div class="outer-1">
                    <div class="inner-1">
                        <img src="/thunder.png" alt="">
                        <div class="count" id="count"></div>
                    </div>
                </div>
            </div>
            <h1>Streak</h1>
            <p>Return daily to collect your coins and diamonds</p>
        </div>
        <div class="content">
            <div class="pipe-bg">
                <div class="pipe">
                    <div class="circle-container">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle-m">
                            <div class="inner-circle">10</div>
                        </div>

                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle-m">
                            <div class="inner-circle">20</div>
                        </div>

                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle-m">
                            <div class="inner-circle">30</div>
                        </div>

                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle-m">
                            <div class="inner-circle">40</div>
                        </div>

                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle-m">
                            <div class="inner-circle">50</div>
                        </div>

                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle-m">
                            <div class="inner-circle">60</div>
                        </div>

                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle-m">
                            <div class="inner-circle">70</div>
                        </div>

                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle-m">
                            <div class="inner-circle">80</div>
                        </div>

                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle-m">
                            <div class="inner-circle">90</div>
                        </div>

                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle-m">
                            <div class="inner-circle">100</div>
                        </div>
                    </div>
                    <div class="pipe-fill"></div>
                </div>
            </div>
        </div>

        <div class="box-container">
            
            <div class="box" id="box-1">
                <div class="claim" id="claim-1">
                    <button type="submit" class="claimbtn">claim</button>
                    <div class="down-arrow"></div>
                </div>
                <div class="reward-box">
                    <img src="100 coins.png" alt="" class="boximg">
                </div>
                <img src="Vector.png" alt="shine" class="Vector" id="Vector-1">
            </div>
            <div class="seperator"></div>
            
            <div class="box" id="box-2">
                <div class="claim" id="claim-2">
                    <button class="claimbtn">claim</button>
                    <div class="down-arrow"></div>
                </div>
                <div class="reward-box">
                    <img src="500 coins.png" alt="" class="boximg">
                </div>
                <img src="Vector.png" alt="shine" class="Vector" id="Vector-2">
            </div>
            <div class="seperator"></div>

            <div class="box" id="box-3">
                <div class="claim" id="claim-3">
                    <button class="claimbtn">claim</button>
                    <div class="down-arrow"></div>
                </div>
                <div class="reward-box">
                    <img src="1000 coins.png" alt="" class="boximg">
                </div>
                <img src="Vector.png" alt="shine" class="Vector" id="Vector-3">
            </div>
            <div class="seperator"></div>

            <div class="box" id="box-4">
                <div class="claim" id="claim-4">
                    <button class="claimbtn">claim</button>
                    <div class="down-arrow"></div>
                </div>
                <div class="reward-box">
                    <img src="1500 coins.png" alt="" class="boximg">
                </div>
                <img src="Vector.png" alt="shine" class="Vector" id="Vector-4">
            </div>
            <div class="seperator"></div>

            <div class="box" id="box-5">
                <div class="claim" id="claim-5">
                    <button class="claimbtn">claim</button>
                    <div class="down-arrow"></div>
                </div>
                <div class="reward-box">
                    <img src="2000 coins.png" alt="" class="boximg">
                </div>
                <img src="Vector.png" alt="shine" class="Vector" id="Vector-5">
            </div>
            <div class="seperator"></div>

            <div class="box" id="box-6">
                <div class="claim" id="claim-6">
                    <button class="claimbtn">claim</button>
                    <div class="down-arrow"></div>
                </div>
                <div class="reward-box">
                    <img src="diamond.png" alt="" class="boximg">
                </div>
                <img src="Vector.png" alt="shine" class="Vector" id="Vector-6">
            </div>
            <div class="seperator"></div>

            <div class="box" id="box-7">
                <div class="claim" id="claim-7">
                    <button class="claimbtn">claim</button>
                    <div class="down-arrow"></div>
                </div>
                <div class="reward-box">
                    <img src="2500 coins.png" alt="" class="boximg">
                </div>
                <img src="Vector.png" alt="shine" class="Vector" id="Vector-7">
            </div>
            <div class="seperator"></div>

            <div class="box" id="box-8">
                <div class="claim" id="claim-8">
                    <button class="claimbtn">claim</button>
                    <div class="down-arrow"></div>
                </div>
                <div class="reward-box">
                    <img src="3000 coins.png" alt="" class="boximg">
                </div>
                <img src="Vector.png" alt="shine" class="Vector"  id="Vector-8">
            </div>
            <div class="seperator"></div>

            <div class="box" id="box-9">
                <div class="claim" id="claim-9">
                    <button class="claimbtn">claim</button>
                    <div class="down-arrow"></div>
                </div>
                <div class="reward-box">
                    <img src="3500 coins.png" alt="" class="boximg">
                </div>
                <img src="Vector.png" alt="shine" class="Vector" id="Vector-9">
            </div>
            <div class="seperator"></div>

            <div class="box" id="box-10">
                <div class="claim" id="claim-10">
                    <button class="claimbtn">claim</button>
                    <div class="down-arrow"></div>
                </div>
                <div class="reward-box">
                    <img src="1 myntra voucher.png" alt="" class="boximg">
                </div>
                <img src="Vector.png" alt="shine" class="Vector" id="Vector-10">
            </div>
        </div>
    
    </div>

    <script>

        var day = 100;
        var value = day % 10;
        
        var missed = false;
        let i = 1;
        if (day > 10 ) {
            var count = day - value;
            var prev = count - 10;
            if (day % 10 == 0) {
                start = ((56 * prev + 35 * prev/10) / 5960);
                end = ((56 * day + 35 * count/10) / 5960);
            } else {
                start = ((56 * count + 35 * count/10) / 5960);
                end = ((56 * day + 35 * count/10) / 5960);
            }
        } else {
            if (day == 10) {
                start = 0;
                end = 595 / 5960;
            } else {
                start = 0;
                end = (56 * day + 35 * count/10) / 5960;
            }
        }
        if(missed){
            day = 0;
            start = ((56 * day + 35 * count/10) / 5960);
            end = 0;
            document.getElementById('count').innerHTML= `${day}` ;

        }
        document.documentElement.style.setProperty('--start', start);
        document.documentElement.style.setProperty('--end', end);
        console.log(start);
        console.log(end);
        if (day % 10 == 0) {
            while (day/10 >= i) {
                console.log(i);
                document.querySelector('#box-'+i).classList.add('active');
                console.log(value)
                if (day/10 === i) {
                    console.log("here")
                    document.querySelector('#claim-'+i).classList.add('active');
                    document.querySelector('#Vector-'+i).classList.add('active');
                }
                i+=1;
            }
        } else {
            while (count/10 >= i) {
                console.log(i);
                document.querySelector('#box-'+i).classList.add('active');
                i+=1;
            }
        }
        console.log(day)
        document.getElementById('count').innerHTML= `${day}` ;
    
    </script>
</body>
</html>
